@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

/* Variables */
:root {
    /* Colors */
    --main-color: rgb(255, 255, 255);
    --secondary-color: rgb(135, 205, 235);
    --text-color: rgb(0, 0, 0);
    /* Fonts */
    --title-font: 'Inspiration';
}

/* Page Setup */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}