.toolbar {
    font-weight: 100;
    width: 100%;
    background-color: white;
}
.titlebar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.toolbar .title{
    font-family: "Inspiration";
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    cursor: default;
}
.toolbardiv {
    width: 100%;
    height: 1rem;
}
.toolbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    margin: auto;
    padding: 0rem;
}
.toolbar a {
    border-width: .25rem;
    border-style: solid none none none;
    border-color: white;
}
.toolbar li, .toolbar li a{
    text-transform: lowercase;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    padding: 0.5rem;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.toolbar li a:hover {
    color: skyblue;
    border-color: skyblue;
}
.page-image {
    background-color: skyblue;
    background-image: url("../Image/backgroundImage.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: scroll;
    background-size: cover;
    text-indent: -100%;
    height: 30rem;
    width: 100%;
    cursor: default;
}

/* Changes for tablet use */
@media screen and (max-width: 800px) {
    .titlebar {
        grid-template-columns: 1fr 3fr 1fr;
    }
    .toolbar ul {
        width: 100%;
    }
    .toolbar li a {
        font-size: 2rem;
    }
}

/* Changes for phone use */
@media screen and (max-width: 500px) {
    .titlebar {
        grid-template-columns: 1fr 5fr 1fr;
    }
    .toolbar li a {
        padding: 0rem;
        font-size: 1.5rem;
    }
    .page-image {
        height: 25rem;
    }
}